



<nav class=" navlinks mainlinks flex-row">
    <%- include('../partials/header') %>
    <ul class="nav-links flex-row">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
    </ul>
</nav>